:root{
    /* color */
    --primary-color:#1E6F5C;
    --btn-color:#E6DD3B;
    --heading-color:#e8e198;

    /* font */
    --heading-font:'Montserrat', sans-serif;
    --main-font:'Roboto', sans-serif;
}

*{
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all .3s ease-in-out;
}

.container{
    max-width: 1420px;
}
.section-margin{
    margin-top: 250px;
}

/* navbar start */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar.active{
    height: 100px;
    background-color: #fff;
    box-shadow: 0 1px 10px #2e282860;
}
.navbar .container{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .menu-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navbar .menu-wrapper .menu{
    margin: 0 auto;
}

.navbar .logo{
    font-family: var(--heading-font);
    font-weight: 800;
    font-size: 30px;
    color: var(--primary-color);
}
.navbar .logo span{
    font-family: var(--heading-font);
    font-weight: 800;
    font-size: 30px;
    color:var(--heading-color);
}
.navbar .menu a{
    font-family: var(--heading-font);
    font-size: 18px;
    font-weight: 400;
    color:#1E1B1B99;
    margin: 0 20px;
}
.navbar .menu a.active{
    color: var(--primary-color);
    font-weight: 800;

}
.navbar .icons i{
    font-size: 25px;

}
.navbar .icons .icon{
    margin-right: 20px;
    color: var(--primary-color);
}
.navbar .menuOpen{
    font-size: 40px;
    color: var(--primary-color);
}
.menuOpen .menuClose{
    display: none;
}
/* navbar end */

/* home start */

.home .container{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin: 0 auto;
    margin-top: 200px;
    padding: 60px 95px;
    border-radius: 20px;
}
.home .content-right{
    max-width: 500px;
}
.home .swiper-wrapper{
    padding-bottom: 60px;
}
.home .heading{
    font-family: var(--heading-font);
    font-weight: 800;
    font-size: 50px;

    color: var(--heading-color);
}
.home .sub-heading{
    font-size: 20px;
    font-weight: 300px;
    color: #e2e2e2;
    width: 460px;
    margin-top: 15px;
}
.home .btn-home{
    margin-top: 120px;
}
.btn-home .btn-explore{
    color: var(--primary-color);
    background-color: var(--btn-color);
    border-radius: 8px;
    padding: 16px 24px;
    font-family: var(--heading-color);
    font-weight: 600;
    font-weight: 13px;
    border: 2px solid var(--btn-color);
}
.btn-home .btn-learn{
    color: var(--primary-color);
    border-radius: 8px;
    padding: 16px 24px;
    font-family: var(--heading-color);
    font-weight: 600;
    font-weight: 13px;
    border: 2px solid var(--btn-color);
    color: var(--btn-color);
    margin-left: 40px;
}
.btn-home .btn-explore:hover{
    background-color: #e2e2e2;
}
.btn-home .btn-learn:hover{
    color: var(--primary-color);
    background-color: var(--btn-color);
}
.swiper img{
    display: block;
    margin: auto;
}
.swiper-pagination-bullet{
    width: 12px;
    border-radius: 1;
    border: 2px solid #e6dd3bb0;
    background: none;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: var(--btn-color);
}
/* home end */

/* panel start */
.panel .container{
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.panel{
    margin-top: 250px;
}

.panel .item{
    display: flex;
    align-items: center;
}
.item .icon{
    background-color: var(--primary-color);
    padding: 25px;
    border-radius: 30px 5px ;
}
.item .icon i{
    color: #e2e2e2;
    font-size: 50px;
}
.item .textPanel{
    margin-left: 30px;
}
.textPanel .title{
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: 25px;
    color: #2E2828;
}
.textPanel .subtitle{
    margin-top: 10px;
    font-weight: 300;
    font-size: 16px;
    color: #2E2828;
}
/* panel end */

/* service start */
.service{
    margin-top: 250px;
}
.service .container{
    margin: auto;
}
.service .row1{
    text-align: center;

}

.service .label{
    font-family: var(--heading-font);
    font-weight: 800;
    color: var(--primary-color);
}
.service .title{
    font-family: var(--heading-font);
    font-size: 30px;
    color: #2E2828;
    margin-top: 20px;
}
.service .row2{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* service end */
.row2 .img-box{
    position: relative;
}

.row2 .detail{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 111, 92, 0.52);
    backdrop-filter: blur(6.5px);
    border-radius: 10px;
    clip-path: circle(0.8% at 100% 0);
    transition: 0.3s ease-in-out;
}
.row2 .img-box:hover .detail{
    clip-path: circle(141.2% at 100% 0);
    transition: 0.3s ease-in-out;
}

.row2 .detail a{
    font-family: var(--heading-font);
    font-weight: 800;
    font-size: 25px;
    color: var(--heading-color);
}

.banner{
    margin-top: 250px;
}
.banner .container{
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.banner .banner-right{
    display: flex;
    flex-direction: column;
}
.banner .banner-right .img-box{
    max-width: 670px;
}
.banner .banner-left .img-box{
    max-width: 635px;
}
.banner-left .img-box img, .banner-right .img-box img{
    width: 100%;
}

.product{
    margin-top: 250px;
}
.product .container{
    margin: auto;
}
.product .container .row1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product .row1 .label{
    font-family: var(--heading-font);
    font-weight: 600;
    color: var(--primary-color);
}
.product .row1 .heading{
    font-family: var(--heading-font);
    font-size: 30px;
    font-weight: 600;
    color: #2E2828;
    margin-top: 15px;
    max-width: 735px;
}
.product .btn-slider{
    color: var(--btn-color);
    font-size: 60px;
}
.product .btn-slider i{
    cursor: pointer;
}
.product .row2{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.product .card-product{
    position: relative;
    margin: 0 24px;
    max-width: 335px;
    background: var(--primary-color);
    box-shadow: 1px 1px 10px -2px rgba(0, 0, 0, 0.25);
    border-radius: 50px 10px;
    padding: 35px 25px;
}
 .card-product img{
    margin: auto;
    display: block;
 }
.card-product .card-body{
    margin-top: 50px;
}
.card-product .product-name{
    font-family: var(--heading-color);
    font-weight: 600;
    font-size: 20px;
    color: var(--heading-color);
}
.card-product .star{
    margin-top: 10px;
    font-size: 24px;
    color: var(--btn-color);
}
.card-product .stock{
    color: #ffff;
    margin-top: 5px;
}
.card-product .price{
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: 22px;
    color: #FFFFFF;
    margin-top: 20px;
}
.card-product .btn-card{
    background-color: var(--btn-color);
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 28px;
    background: var(--btn-color);
    border-radius: 30px 0px 50px;
}
.card-product .btn-card i{
    font-size: 30px;
    color: var(--primary-color);
}
.card-product .btn-card:hover{
    background-color: #e2e2e2;
}
.contact .container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact .content-left .label{
    font-family: var(--heading-font);
    font-weight: 600;
    color: var(--primary-color);
}
.contact .content-left .heading{
    font-family: var(--heading-font);
    font-size: 30px;
    font-weight: 600;
    color: #2E2828;
    margin-top: 15px;
    max-width: 735px;
}
.contact .thumnail-contact{
    margin-top: 50px;
    max-width: 600px;
    max-height: 410px;
}
.contact .thumnail-contact .img-contact{
    width: 100%;
    height: 100%;
}
.contact .content-right .form-group{
    display: flex;
    flex-direction: column;
}
.contact .content-right input, .contact .content-right textarea{
    width: 700px;
    padding: 20px 40px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    margin-bottom: 20px;
}
.contact .content-right input::placeholder, .contact .content-right textarea::placeholder{
    color: #e2e2e2;
}
.contact .btn-contact{
    padding: 20px 40px;
    border-radius: 10px;
    background-color: var(--btn-color);
    color: var(--primary-color);
    border: none;
    font-size: 18px;
}
.contact .btn-contact:hover{
    border: 1px solid var(--btn-color);
    color: var(--btn-color);
    background-color: #fff;
    cursor: pointer;
}
.footer{
    margin-top: 146px;
    background: var(--primary-color);
    border-radius: 50px 50px 0px 0px;
}
.footer .container{
    margin: 0 auto;
    padding-bottom: 20px;
}
.footer .container .row1{
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}
.footer .content-right{
    display: flex;
    justify-content: space-between;
}
.footer .content-left .logo{
    font-family: var(--heading-font);
    font-size: 30px;
    font-weight: 700;
    color: var(--heading-color);
}
.footer .content-left .logo span{
    font-family: var(--heading-font);
    font-size: 30px;
    font-weight: 700;
    color: var(--btn-color);
}
.footer .content-left .email{
    font-family: var(--main-font);
    color: #FFFFFF;
    margin-top: 30px;
    display: block;
}
.footer .content-left .phone{
    font-family: var(--main-font);
    color: #FFFFFF;
    margin-top: 20px;
}
.footer .icons{
    margin-top: 50px;
}
.footer .icons i{
    font-size: 45px;
    color: var(--btn-color);
}
.footer .content-right > div{
    margin: 0 50px;
}
.footer .content-right .col4{
    width: 200px;
}
.footer .content-right h3{
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 25px;
    color: var(--heading-color);
}
.footer .content-right li{
    margin-bottom: 20px;
    font-family: var(--heading-color);
    color: #ffff;
}
.footer .content-right .address{
    margin-bottom: 20px;
    font-family: var(--heading-color);
    color: #ffff;
}
.footer .row2{
    text-align: center;
    color: #FFFFFF;
}
/* responsive */
@media screen and (max-width: 768px){
    .navbar .container{
        padding: 0 15px;
    }
    .menuOpen .menuClose{
        display: initial;
    }
    .navbar .menu-wrapper{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--primary-color);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        clip-path: circle(0.3% at 100% 0);
        transition: .3s ease-in-out;
    }
    .navbar .menu-wrapper.active{
        clip-path: circle(141.2% at 100% 0);
        transition: .3s ease-in-out;
    }
    .navbar .icons i{
        color:var(--btn-color) !important;
    }
    .navbar .menu a{
        display: block;
        margin: 50px 0;
    }
    .navbar .menuClose{
        position: absolute;
        top: 10px;
        right: 30px;
        font-size: 40px;
        color:#E6DD3B;
    }
    .home{
        padding: 0 20px;
    }
    .navbar .menu a.active{
        color: hsl(57, 77%, 57%);
    }
    .home .container{
        flex-direction: column;
    }
    .home .heading{
        font-size: 46px;
    }
    .home .sub-heading{
        font-size: 18px;
    }
    .swiper img{
        margin-top: 100px;
        max-width: 300px;
        width: 100%;
    }
    .panel .container{
        flex-wrap: wrap;
        padding: 0 20px;
    }
    .panel .item{
        margin-top: 20px;
    }
    .item .icon{
        padding: 20px;
        border-radius: 20px 5px;
    }
    .item .icon i{
        font-size: 40px;
    }
    .service, .panel{
        margin-top: 250px;
    }
    .service .title{
        font-size: 26px;
    }
    .service .row2{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .banner .container{
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .product .container{
        padding: 0 20px;
    }
    .product .container .row1{
        flex-wrap: wrap;
    }
    .product .btn-slider{
        margin-left: auto;
        margin-top: 20px;
        font-size: 35px;
    }
    .card-product .card-product-img{
        max-width: 200px;
    }
    .product .row2{
        margin-top: 80px;
    }
    .product .container .row1 .label{
        font-size: 12px;
    }
    .product .container .row1 .heading{
        font-size: 16px;
    }
    .contact .container{
        flex-direction: column;
        padding: 0 20px;
    }
    .contact .heading{
        font-size: 26px;
    }
    .contact .thumnail-contact{
        margin: 0 auto;
        margin-top: 50px;
    }
    .contact .form-group{
        margin-top: 50px;
    }
}

@media screen and (max-width: 576px){
    .home .container{
        margin-top: 150px;
        padding: 40px 30px;
    }
    .home .heading{
        font-size: 30px;
    }
    .home .sub-heading{
        font-size: 12px;
        width: 250px;
    }
    .home .btn-home{
        margin-top: 80px;
    }
    .btn-home .btn-explore{
        font-size: 12px;
        padding: 14px 16px;
    }
    .btn-home .btn-learn{
        font-size: 12px;
        padding: 16px 24px;
        margin-left: 20px;
    }
    .swiper img{
        margin-top: 100px;
        max-width: 200px;
        width: 100%;
    }
    .banner{
        margin-top: 300px;
    }
    .banner .container{
        padding: 0 20px;
    }
    .contact .label{
        font-size: 16px;
    }
    .contact .heading{
        font-size: 20px;
    }
    .contact .content-right input, .contact .content-right textarea{
        width: 100%;
        padding: 10px 20px;
    }
    .contact .content-right{
        width: 100%;
    }
}